<!DOCTYPE html>
<html ng-app="appModule">
<head lang="en">
    <meta charset="UTF-8">
    <title>My Html File</title>
    <link rel="stylesheet" href="../../css/bootstrap.css" >

    <script src="../../lib/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body  ng-controller="PhoneController">

    <div class="container">
        <div class="jumbotron">
            <h1> Mobile List </h1>
            <p class="lead"> Motorola, Inc. was a multinational telecommunications company based in Schaumburg,
                Illinois, United States. After having lost $4.3 billion from 2007 to 2009, the company was divided
                into two independent public companies, Motorola Mobility and Motorola Solutions on January 4, 2011.  </p>
        </div>
        <div class="row">
            <div class="col-md-2">
                Search : <input ng-model="query">
                <br/>
                SortBy :
                <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                    <option value="-age">Oldest</option>
                </select>
            </div>

            <div class="col-md-10">
                <ul>
                    <li ng-repeat="phone in phones | filter: query | orderBy: orderProp">
                        <span>{{phone.name}}</span>
                        <p>{{phone.id}}, age: {{phone.age}}, snippet : {{phone.snippet}}</p>
                    </li>

                </ul>

                <p>Total number of phones: {{phones.length}}</p>
            </div>
        </div>
    </div>

</body>
</html>