<!DOCTYPE html>
<html ng-app="noteApp">
<head lang="en">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <title>$http get example</title>
    <style>
        .item {
            padding: 10px;
        }
    </style>
</head>
<body ng-controller="MainCtrl as mainCtrl">
    <br>
    <h1>Hello Http-get !</h1>
    <div ng-repeat="todo in mainCtrl.items" class="item">
        <div>
            <span class="lead" ng-bind="todo.id"></span>
        </div>
        <div>
            <span class="text-muted" ng-bind="todo.label"></span>
        </div>
        <div>
            by <span class="text-muted" ng-bind="todo.author"></span>
        </div>
    </div>

    <div>
        <form name="addForm" ng-submit="mainCtrl.add()">
            <input type="text" placeholder="Label" ng-model="mainCtrl.newTodo.label" required>
            <input type="text" placeholder="Author" ng-model="mainCtrl.newTodo.author" required>
            <input class="btn btn-primary" type="submit" value="Add" ng-disabled="addForm.$invalid">
        </form>
    </div>


    <script src="../lib/angular.js"></script>
    <script>
        angular.module('noteApp',[])
                .controller('MainCtrl', ['$http', function($http) {
                    var self = this;
                    self.items = [];
                    self.newTodo = {};
                    var fetchTodos = function(){
                        return $http.get("http://172.17.234.75:8000/api/note").then(
                                function(response){
                                    self.items = response.data;
                                }, function(errResponse){
                                    console.error('Error while fetching notes');
                                }
                        );
                    };

                    fetchTodos();

                    self.add = function() {
                        $http.post("http://172.17.234.75:8000/api/note", self.newTodo)
                                .then(fetchTodos)
                                .then(function(response) {
                                    self.newTodo = {};
                                });
                    };

                }]);
    </script>


</body>
</html>