<!DOCTYPE html>
<html ng-app="noteApp">
<head lang="en">
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <title>NoteApp</title>
</head>
<body ng-controller="MainCtrl as ctrl">
    <br>
    <input type="text" ng-model="ctrl.username">
    <input type="password" ng-model="ctrl.password">
    <button class="btn" ng-click="ctrl.change()">Change Values</button>
    <button class="btn" ng-click="ctrl.submit()">Submit</button>

    <script src="../lib/angular.js"></script>
    <script>
        angular.module('noteApp',[]).controller('MainCtrl',[
                function() {
                    var self = this;
                    self.change = function(){
                        self.username = 'changed';
                        self.password = 'password';
                    };
                    self.submit = function(){
                        console.log("User clicked submit with ", self.username, self.password);
                    };
                }
        ]);
    </script>

</body>
</html>